

.topNav{
	background-color: #ffa500;
	overflow: hidden;
}

.topNav a{
	float: left;
	color: black;
	padding: 16px 30px;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
}

.topNav a:hover{
	background-color: #cc8400;
	color: black; 
}

#heade{
	border: 0.7px solid black;
	width: 110%;
	background-color: black; 
	margin-bottom: 50px;
	margin-top: -10px;
	margin-left: -10px;
	
}


.faixa-meio{
	border: 0.7px solid black;
	width: 84%;
	height: 500px;
	margin: 2px;
	border-radius: 3px;	
	padding-top: 0px;
	padding-bottom: 20px; 
	position: relative;
	left: 8%;
	background-color: #FFFAFA;

	
}
.botaoMeio1{
	border: 1px solid black;
	width: 250px;
	height: 300px;
	margin-top: 100px;
	position: relative;
	left: 20%;
	border-radius: 5px;
	background-color: #D3D3D3;
	overflow: hidden;
	float: left;
	text-align: center;
	background-color: white;


}
.addMeio{
	width: 80px;
	height: 80px;
	position: absolute;
	margin-top: 10px;
	margin-left: 90px;

	text-align: center;

	background-image: url('tela-fundo.jpg');
   background-position:center;
   background-repeat:no-repeat; 


}
.botaoMeio2{
	border: 1px solid black;
	width: 250px;
	height: 300px;
	position: relative;
	left: 25%;
	margin-top: 100px;
	border-radius: 5px;
	background-color: #D3D3D3;
	overflow: hidden;
	float: left;
	text-align: center;
	background-color: white;
}
.addMeio2{	
	width: 80px;
	height: 80px;
	position: absolute;
	margin-top: 10px;
	margin-left: 90px;
	border-radius: 100px;
	text-align: center;


}
.botaoMeio3{
	border: 1px solid black;
	width: 250px;
	height: 300px;
	position: relative;
	left: 30%;
	margin-top: 60px;
	border-radius: 5px;
	background-color: white;
	overflow: hidden;
	float: left;
	text-align: center;
}
.addMeio3{

	width: 80px;
	height: 80px;
	position: absolute;
	margin-top: 10px;
	margin-left: 90px;
	border-radius: 100px;
	text-align: center;




}
.botaoMeio1 a,  .botaoMeio2 a, .botaoMeio3 a{
	width: 250px;
	height: 300px;
	color: black;
	padding: 15px 17px;
	border-radius: 5px;
	display: block;
	float: left;
	text-decoration:none;
	text-align: center;
	margin-top: 120px;	
	margin-left: -10px;
	background-color: #D3D3D3;


}

.botaoMeio1 a:hover, .botaoMeio2 a:hover , .botaoMeio3 a:hover{
	
	background-color: #1E90FF;
	color: white; 
}


#footer{
	background-color: #Ffa500;
	border: 0.7px solid black;
	width: 110%;
	text-align: center;
	margin-top: 250px;
	margin-bottom: 15px;
	padding: 8px; 
	margin-left: -10px; 
	margin-right: -10px;
}
.material-icons.md-48 { 
	font-size: 110px;
	position: absolute; 
	left: -15%;
	margin-top: -10px;
}

.vendaValor{
	background-color: #Ffa500;
	border: 0.7px solid black;
	width: 100px;
	text-align: center;
}