<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Página Principal!</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	<link href="https://fonts.googleapis.com/css?family=UbuntuVarela+Round" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans" rel="stylesheet">


	<header id="header">
		<nav class="topNav" id="nav">
			<a href="{% url 'base.html'%}">Home</a>
			<a href="{% url 'cadastro.html'%}">Cadastro</a>
			<a href="{% url 'fornecedor.html'%}">Fornecedores</a>

		</nav>
	</header>	
	<div class="faixa-meio">
		<h1>Cadastro</h1>
		<hr>
		<form method="POST" action="{% url 'outrof.html' %}" class="post-form">{% csrf_token %}
			{{ form.as_p }}
			<div class="divFormCadastro">
				<label for="id_nome">Nome</label>
				<input type="text" name="nome" required="required" class="formCadastro">
			</div>
			
			<br><br><br><br>
			<br><br><br><br>
			<hr><br>
			<div>
				<input type="submit" name="" value="Cadastrar" class="botaoCadastro">
			</div>
		</form>
	</div>	
<footer id="footer">https://github.com/mrWolfff/SistemaMercado</footer>
</html>
